.colorpick-container {
    display: inline-block;
    width: 23em;
    height: 15em;
    box-sizing: border-box;
    padding: 0.5em; 
}

.colorpick-container > *,
.colorpick-container > *:before,
.colorpick-container > *:after {
    box-sizing: inherit;
}

.colorpick-container > .colorpick-gradient {
    float: left;
    height: 100%;
    width: 46.5%;
    margin-right: 3.5%;
    background: linear-gradient(45deg, blue, red);
}

.colorpick-container > .colorpick-spectrum {
    float: left;
    height: 100%;
    width: 6.5%;
    margin-right: 3.5%;
}

.colorpick-spectrum > .colorpick-spectrum-slider {
    position: relative;
    left: -10px;
    height: 2em;
    width: 100%;
    border: 10px solid transparent;
    box-sizing: content-box;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

.colorpick-spectrum > .colorpick-spectrum-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.colorpick-spectrum > .colorpick-spectrum-slider:after,
.colorpick-spectrum > .colorpick-spectrum-slider:before {
    position: absolute;
    top: calc(50% - 7px);
    display: inline-block;
    content: '';
    height: 0;
    width: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.colorpick-spectrum > .colorpick-spectrum-slider:after {
    border-left: 7px solid rgb(175,175,175);
    left: -7px;
}

.colorpick-spectrum > .colorpick-spectrum-slider:before {
    border-right: 7px solid rgb(175,175,175);
    right: -7px;
}

.colorpick-container > .colorpick-options {
    float: left;
    height: 100%;
    width: 40%;
    background-color: yellow;
}